.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media all and (min-width:700px){
    .productsWrapper{
        margin-left: 200px;
        margin-top: 5em;
    }
}
@media all and (min-width:1000px){
    .productsWrapper{
        margin-left: 300px;
        margin-top: 5em;
    }
}