.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noElementWarning{
    padding: 1em;
    text-align: center;
    font-family: var(--titlesFont);
    font-size: 2rem;
}


@media all and (min-width:700px){
    .productsWrapper{
        margin-left: 260px;
        margin-top: 5em;
    }
}
@media all and (min-width:1000px){
    .productsWrapper{
        margin-left: 300px;
        margin-top: 5em;
    }
}