.product img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}

.product{
    margin: 40px 0;
    border-radius: 2em;
    width: 90%;
    background-color: white;
    max-height: 450px;
    position: relative;
    z-index: 0;
}

.product button{
    background-color: var(--mainColor);
    padding: 1em;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    width: 100%;
    position: absolute;
    bottom: -40px;
    line-height: 20px;
    cursor: pointer;
}


.product button .icons{
    margin:0;
    padding: 0;
    vertical-align: middle;
}

.productInfo{
    padding: 1em 0;
}

.productInfo h2{
    font-size: 1rem;
}


@media all and (min-width:470px){
    .product{
        max-width: 200px;
        width: 100%;
    }
}

@media all and (min-width:1000px){
    .product{
        z-index: 1;
        margin: 30px;
        height: 650px;

    }

    .product button{
        bottom: 0px;
    }
}