header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: var(--bgColor);
    position:sticky;
    width: 100vw;
    padding: 1em;
}

header input{
    padding: 0.8em;
    border: none;
    border-radius: 0.5em 0 0 0.5em;
    width: 150px;
}

header button{
    background-color: var(--mainColor);
    border: none;
    color: aliceblue;
    padding: 0.8em;
    border-radius: 0 0.5em 0.5em 0;
    font-weight: bold;
    cursor: pointer;
}

.logo-wrap img{
    width: 80px;
    display: block;
    margin: 0 auto;
}

.logo-wrap h1{
    color: var(--mainColor);
    font-family: var(--titlesFont);
    font-size: 1.4rem;
    margin: 0;
}

.iconsWrapper{
    position: fixed;
    bottom: 0;
    background-color: var(--bgColor);
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.icons{
    margin: 10px;
    font-size: 2em;
    cursor: pointer;
}

@media all and (min-width:700px){
    header{
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        position:fixed;
        z-index: 2;
        height: 5em;
    }

    header input {
        width: 37vw;
    }

    .logo-wrap{
        display: flex; 
        flex-wrap: nowrap;
    }

    .logo-wrap h1{
        font-size: 1.8rem;
        align-self: center;
        justify-self: center;
    }

    .iconsWrapper{
        position:static;
        background-color: var(--bgColor);
        text-align: center;
        justify-content:unset;
    }

    .iconsWrapper form{
        flex-grow: 1;
    }

}