footer{
    background-color: var(--mainColor);
    color: aliceblue;
    padding: 1em;
    text-align: center;
    font-family: var(--titlesFont);
    width: 100vw;
    margin: 80px 0;
}

@media (min-width:700px){
    footer{
        margin: 40px 0 0 0;
    }
}