@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
  --mainColor: rgb(223, 108, 108);
  --bgColor: rgb(255, 242, 249);
  --titlesFont: 'Indie Flower', cursive;
}


.App{
  min-height: 100vh;
  max-width: 100vw;
}

.App .main{
  display: flex;
  flex-wrap: wrap;
}

*{
  box-sizing: border-box;
}